
body{
    padding-top: 50px;
    padding-bottom: 50px;
}


h1{
    text-align: center;
    font-size:40px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.3;
}

h1 span{
    font-size:15px;
}


.globalNabi {
    text-align: center;
    margin-bottom: 50px;
}


.globalNabi li{
    display: inline-block;
    margin-right: 100px;
    font-family: 'Oswald', sans-serif;
    font-size:  16px;
    letter-spacing: 1px;
}

.globalNabi li:last-child{
    margin-right: 0;
}

.mainimage{
  width: 1000px;
  margin-right: auto;
  margin-left: auto; 
  margin-bottom: 50px;

}

.mainimage img{

    width:100%;
    height:auto;
}

h2{
    text-align: center;
    font-size:11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

h2 span{
    font-size:40px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid #000000;
}



.about{
	display: flex;
	flex-wrap:wrap;
    
}
.about ul{
	width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	
	box-sizing:border-box;
    list-style:none;
}
.about li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	object-fit: cover; 
}
