
body{
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 0;
    margin: 0;
}


h1{
    text-align: center;
    font-size:40px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.3;
}

h1 span{
    font-size:15px;
}


.globalNabi {
    text-align: center;
    margin-bottom: 50px;

}


.globalNabi li{
    display: inline-block;
    margin-right: 100px;
    font-family: 'Oswald', sans-serif;
    font-size:  16px;
    letter-spacing: 1px;
  
}

.globalNabi li:last-child{
    margin-right: 0;
}

.globalNabi a{

color:dimgrey;

}

.mainimage{
  width: 1000px;
  margin-right: auto;
  margin-left: auto; 
  margin-bottom: 50px;

}

.mainimage img{

    width:100%;
    height:auto;
}

h2{
    text-align: center;
    font-size:15px;
    margin-bottom: 50px;
    line-height: 1.5;
    letter-spacing: 5px;
    

}

h2 span{
    font-weight: lighter;
    margin-top: 50px;
    font-size:50px;
    letter-spacing: 10px;
   
}




.about{
	display:flex;
	flex-wrap:wrap;
    
    
}

.about h3{

    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about p{
    font-size:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    
}
.about ul{
	width: calc(99%/2);/*←画像を横に4つ並べる場合*/
	box-sizing:border-box;
    list-style:none
    

}
.about li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	object-fit: cover; 
    
}

.sakuseisya p{
    text-align: center;  
}
